.category__div  {
    padding: 6px;
    border: 1px inset $secondColor;
    border-radius: 12px;
    font-family: $secondFont;
    color: $titleColor;
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-bottom: 12px;
    input {
        width: 12px;
        background-color: $secondColor;
    }
}

.category__div:nth-child(1) {
    background: $secondColor;
}

.category__div:nth-child(2) {
    background: $secondColor;
}

.category__div:nth-child(3) {
    background: $secondColor;
}

.category__div:nth-child(4) {
    background: $secondColor;
}

.category__div:nth-child(5) {
    background: $secondColor;
}

.category__div:hover:nth-child(1) {
    background: $white;
    box-shadow: 1px 2px black;
}

.category__div:hover:nth-child(2) {
    background: $white;
    box-shadow: 1px 2px black;
}

.category__div:hover:nth-child(3) {
    background: $white;
    box-shadow: 1px 2px black;
}

.category__div:hover:nth-child(4) {
    background:  $white;
    box-shadow: 1px 2px black;
}

.category__div:hover:nth-child(5) {
    background: $white;
    box-shadow: 1px 2px black;
}

.category__div:checked:nth-child(1) {
    color: $colorOne;
}

.category__div:checked:nth-child(2) {
    background: $colorTwo;
}

.category__div:checked:nth-child(3) {
    background: $colorThree;
}

.category__div:checked:nth-child(4) {
    background:  $colorFour;
}

.category__div:checked:nth-child(5) {
    background: $colorFive;
}

.text__input {
    width: 50%;
    padding: 12px;
    margin: 12px;
    border-radius: 12px;
    font-family: $mainFont;
}