// FONT VARIABLES

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Nova+Mono&family=Quicksand:wght@300;400;500;600;700&display=swap');

$titleFont: 'Comfortaa', sans-serif;
$mainFont: 'Nova Mono', monospace;
$secondFont: 'Quicksand', sans-serif;

// COLOR VARIABLES

$mainColor: #272753;
$titleColor: #b62929;
$secondColor: #e2dbdb;

$white: #ffffff;
$black: #000000;

$colorOne: #95c695;
$colorTwo: #db8492;
$colorThree: #f0d477;
$colorFour: #a0f6f6;
$colorFive: #8d628d