// FONT VARIABLES

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Nova+Mono&family=Quicksand:wght@300;400;500;600;700&display=swap');

$titleFont: 'Comfortaa', sans-serif;
$mainFont: 'Nova Mono', monospace;
$secondFont: 'Quicksand', sans-serif;

// COLOR VARIABLES

$mainColor: #272753;
$titleColor: rgb(182, 41, 41);
$secondColor: #cfcfcf;

$white: #ffffff;
$black: #000000;

$colorOne: #95c695;
$colorTwo: #db8492;
$colorThree: #f7f78d;
$colorFour: #a0f6f6;
$colorFive: rgb(141, 98, 141)